.idea/
**/node_modules/

**/build

**/bower_components/**
**/templates.js
.vscode/
.history/
UI/
bundle.*
**/*.bundle.*
**/*.map
.sass-cache/

**.css
**.orig
**.log

config.rb

templates.js
**/functionLib.scss
karma.conf.js
*.diff
**/viewData.js
.DS_Store
sftp-config.json

dist/*