<!DOCTYPE html>
<html lang="zh-CN" data-scale="true">

<head>
    <meta charset="utf-8">
    <title>test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <style type="text/css">
      html,body,#app{
        height:100%;
        margin:0px;
        padding:0px; 
      }
    </style>
</head>

<body>
    <div id="museScoreView"></div>
</body>

</html>