.music-edit-panel {
  width: 100%;
  min-width: 1000px;
  // background-color: #efeee0;
  background-color: #F7F7F7;
  box-shadow: 1px 0 6px 0 rgba(39,54,78,0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  $lineHeight: 32px;

  .music-edit-tools-bar-container {
    padding: 8px;
  }

  .music-edit-tools-line {
    display: flex;
  }

  .music-edit-tools-group {
    display: flex;
    position: relative;
    padding: 0 8px;

    &.large-icon {
      .tool-button {
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 24px;
        background-color: #ddd;
        width: 1px;
      }
    }
  }

  .music-edit-tools-item{
    width: $lineHeight;
    height: $lineHeight;

    > .tool-button {
      padding: 0;
      width: $lineHeight;
      height: $lineHeight;
      min-width: 0;
      min-height: 0;
      border-radius: 0;

      svg {
        fill: #555;
        width: 14px;
        height: 14px;
      }
    }
  }
  
}